spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    hikari:
      jdbc-url: jdbc:h2:mem:testdb;MODE=MYSQL;
  h2:
    console:
      enabled: true
  profiles:
    include: oauth

server:
  servlet:
    encoding:
      # mustache 한글 깨짐 방지
      force-response: true